<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta description="Restaurant Apps for Eats Explorer" />
    <meta name="theme-color" content="#C6EBC5" />
    <link rel="apple-touch-icon" href="../public/icons/icon-144x144.png">
    <link rel="manifest" href="./app.webmanifest" crossorigin="use-credentials">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">

    <title>Restaurant Apps</title>
  </head>
  <body>
    <a class="skip-link" href="#main-content" accesskey="0">Skip to Restaurants</a>

    <header>
      <button id="hamburger" aria-label="Menu">☰</button>
      <div class="app-name">
        <img src="./images/icons.png" alt="Logo" width="50" height="50" />
        <h1>Eats Explorer</h1>
      </div>

      <nav class="navigation" aria-label="Main Menu">
        <ul>
          <li><a href="#/" tabindex="0">Home</a></li>
          <li><a href="#/favorite" tabindex="0">Favorite</a></li>
          <li><a href="https://www.linkedin.com/in/yogi-aprio-a27308278/" tabindex="0">About Us</a></li>
        </ul>
      </nav>
    </header>

    <hero-app></hero-app>

    <main id="main-content" tabindex="0"></main>

    <footer-app>Yogi Aprio &copy; Front-End Web Developer Expert</footer-app>
  </body>
</html>
